@model IEnumerable< Assessment7.Models.Annimal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Animals</h1>

    <table class="table table-bordered table-stripped">
        <thead>
            <th>Name</th>
            <th>Weight</th>
            <th>Species</th>
        </thead>
    
    @foreach(Annimal n in Model)
    { 
        <tr>
            <td>@n.name </td>
            <td>@n.weight </td>
            <td>@n.speciesName </td>

        </tr>

        
    }
    </table>
</div>
<div>
    <form asp-action="Species">
        <input name="SpeciesName" id="SpeciesName" />
        <input type="submit" value="Send" class="btn btn-primary" />
    </form>
</div>
